.containPage {
  padding: 20px 30px;
}

.loginForm {
  background-color: #f1e9e9af;
  margin-top: 40px;
  border: none;
  box-shadow: 0px 20px 20px #dfd8d8;
  border-radius: 10px;
}

.logo {
  margin-bottom: 1rem;

  img {
    width: 50px;
  }

  .titleWeb {
    transition: opacity 0.3s ease-in-out;
    position: absolute;
    font-size: 34px;
    transform: translateY(2px);
    color: var(--green);
    font-weight: bold;
  }
}

.desLogin {
  font-weight: bold;
}

.group {
  display: grid;
  grid-template-columns: 30px auto;
  background-color: green;
  border-radius: 10px;
  color: #fff;
  margin: 20px 0;

  label {
    height: 100%;
    position: relative;

    .iconForm {
      display: flex;
      padding: 5px 10px;
      position: absolute;
      transform: translateY(5px);
    }
  }

  .groupInput {
    border: none;
    outline: none;
    padding: 5px;
    background-color: transparent;
    color: #fff;
  }

  .groupInput::placeholder {
    color: #ffffffad;
  }
}

.group2 {
  display: grid;
  grid-template-columns: 30px auto 30px;
  background-color: green;
  border-radius: 10px;
  color: #fff;
  margin: 20px 0;

  label {
    height: 100%;
    position: relative;

    .iconForm {
      display: flex;
      padding: 5px 10px;
      position: absolute;
      transform: translateY(5px);
    }
  }

  .groupInput {
    border: none;
    outline: none;
    padding: 5px;
    background-color: transparent;
    color: #fff;
  }

  .groupInput::placeholder {
    color: #ffffffad;
  }

  .iconPassword {
    margin-top: 5px;
  }
}

.btnPay {
  background-image: linear-gradient(
    to right,
    var(--green) 0%,
    #42aa61 51%,
    #d8e41e 100%
  );
  margin: 10px 0px;
  padding: 8px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  font-size: 18px;
  width: 100%;
}

.btnPay:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.imageLogin {
  max-width: 350px;
  height: auto;
  width: 100%;
  display: flex;
  margin: auto;
}

.toggle {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #512da8;
  border-radius: 150px 0px 0px 100px;
  background: linear-gradient(to right, #5c6bc0, #512da8);
  color: #fff;
  padding: 0 30px;
  text-align: center;

  .title {
    font-size: 1.5rem;
    font-weight: 700;
  }
  p {
    margin-top: 12px;
    font-size: 1rem;
    font-weight: 500;
  }
  .btn-register {
    padding: 8px 18px;
    border: 1px solid #fff;
    color: #fff;
    text-transform: uppercase;
    border-radius: 8px;
  }
}
